modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["elevenlabs:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
BETTER_AUTH_SECRET = "6755e0eb33dc17459611d077cae39120dafad6d899ca327913919399b3dbf76f"
ADMIN_EMAIL = "Jcollinsmclappleid@gmail.com"
VITE_ADMIN_EMAIL = "Jcollinsmclappleid@gmail.com"
STRIPE_MONTHLY_PRICE_ID = "price_1THSuyDv8IzJrrwIWL1kcMN1"
STRIPE_ANNUAL_PRICE_ID = "price_1THStNDv8IzJrrwIYRL4aGqq"
STRIPE_ADDON_PRICE_ID = "price_1THSrLDv8IzJrrwIlYgcIJ1C"

[userenv.development]
SITE_URL = "https://5e7606d7-ad46-420d-b8cd-9fb7055150fc-00-38xw9k6c4nxsw.riker.replit.dev/custom-audio-stories"
