modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["elevenlabs:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
BETTER_AUTH_SECRET = "6755e0eb33dc17459611d077cae39120dafad6d899ca327913919399b3dbf76f"
ADMIN_EMAIL = "Jcollinsmclappleid@gmail.com"
VITE_ADMIN_EMAIL = "Jcollinsmclappleid@gmail.com"
STRIPE_ANNUAL_PRICE_ID = "price_1TZyy2Dv8IzJrrwI6ljswsSw"
STRIPE_MONTHLY_PRICE_ID = "price_1THSrLDv8IzJrrwIlYgcIJ1C"
STRIPE_ADDON_PRICE_ID = "price_1TV8O0Dv8IzJrrwIAUqcBVLP"
STRIPE_IMMERSIVE_PRICE_ID = "price_1THYxXDv8IzJrrwIwzmLd5kJ"
STRIPE_MONTHLY_PRICE_ID_USD = "price_1TV8IUDv8IzJrrwIKwv9XuiW"
STRIPE_ANNUAL_PRICE_ID_USD = "price_1TZz0jDv8IzJrrwIgpUHCn44"
STRIPE_ADDON_PRICE_ID_USD = "price_1TV8OXDv8IzJrrwI521Jioe1"
STRIPE_SINGLE_PRICE_ID = "price_1TeRIBDv8IzJrrwIvh7cHStf"
STRIPE_SINGLE_PRICE_ID_USD = "price_1TeRIBDv8IzJrrwIKrmGIaJt"
STRIPE_FIVE_PACK_PRICE_ID = "price_1TeROoDv8IzJrrwI3mRVLCG3"
STRIPE_FIVE_PACK_PRICE_ID_USD = "price_1TeRRWDv8IzJrrwIwajeciMI"
STRIPE_COLLECTION_PRICE_ID = "price_1TeRTjDv8IzJrrwI0LpymEFS"
STRIPE_COLLECTION_PRICE_ID_USD = "price_1TeRUJDv8IzJrrwIfV66ltSd"

[userenv.development]
SITE_URL = "https://5e7606d7-ad46-420d-b8cd-9fb7055150fc-00-38xw9k6c4nxsw.riker.replit.dev/custom-audio-stories"
